.grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px auto;
  max-width: 1200px;
}

.col {
  flex-wrap: auto;
}

img {
  max-width: 100%;
}
@media only screen and (min-width: 600px){
  .right {
    margin-left: auto;
  }
}
